/* stylelint-disable */
*, ::after, ::before {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
  margin: 0;
}
ol, ul {
  list-style: none;
  padding-left: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
button, h1, h2, h3, h4, input, label {
  line-height: 1.1;
}
h1, h2, h3, h4 {
  text-wrap: balance;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
img, picture {
  max-width: 100%;
  display: block;
}
button, input, select, textarea {
  font: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}
/* stylelint-enable */
